/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: #f4f4f4;
  color: 222;
}

.topo {
  background-color: black;
  color: white;
  padding: 20px;
}

.topo h1 {
  font-size: 32px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

.banner {
  height: 300;
  background-color: rgb(129, 174, 233);
  text-align: center;
  padding: 40px;
  color: white;
}


.conteudo {
  padding: 30px;
  margin: 20px;
}

.card {
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
}

.contatos {
  background-color: #ddd;
  padding: 25px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}